{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" action="{% url 'creditviewcustomers' %}" enctype="multipart/form-data">
                 {% csrf_token %}
          
                   <div class="col-12">
                      <h5 class="form-title"><span>Loan Bio</span></h5>
                   </div>

                   {% include 'includes/messages.html' %}

                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Principal</label>
                         <input type="text" class="form-control" placeholder="Not less than 7000" name="amount">
                      </div>
                   </div>
                   
                   
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Enter the annual Interest Rate(in percentage):</label>
                         <input type="text" class="form-control"  placeholder="3%" name="interest_rate">
                      </div>
                   </div>                   
                 <div class="col-sm-11">
                    <div class="form-group">
                       <label>Number of times interest is calculated in a year</label>
                       <select name = "num_times_interest">

                        <option value = "Yearly">Yearly</option>
                        <option value = "Quarterly">Quarterly</option>
                        <option value = "Monthly">Monthly</option>
                        <option value = "Continuous">Continous</option>              
               
                     </select>               
                    </div>
                 </div>  

                 <div class="col-sm-11">
                  <div class="form-group">
                     <label for = "time">Time Period: </label>
		               <input type = "text" name = time_period>

		               <select name = "time_periods">

			               <option value = "Years">Years</option>
			               <option value = "Months">Months</option>
			               <option value = "Days">Days</option>

		               </select>
                     
                  </div>
               </div>           
             
                <br>

                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Loan info</button>
                   </div>
                
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock content %}